<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/admin_style.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <title>Admin</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <form>
         <ul>
                <li class="full title"><h2>Manage Users</h2></li>
                <li class="full break"><hr></li>
        </ul>
    </form>
    
    <ul class="site-width">
        <li class='grey'>
            <span><b>id</b></span>
            <div>
                <span><b>token</b></span>
                <span> <i>
                </i> </span>
            </div>
        </li>
        {% for m in music %}
            <li class='grey'>
                <span contenteditable="false"><b id="id">{{m[0]}}</b></span>
                <div>
                    <span contenteditable="false"><b id="token">{{m[1]}}</b></span>
                </div>
            </li>
        {% endfor %}
        <li class='grey'>
            <span><b id="new"></b></span>
            <div>
                <span><b id="new"></b></span>
                <span> <i>
                </i> </span>
            </div>
        </li>
    </ul>
    <button onclick="Add_Music()">Add</button>
    <button onclick="Change()">Edit</button>
    <button onclick="Go()">Go to user_list database</button>
    <script>
        function Change(){
            var change = document.querySelectorAll("[contenteditable=false]");
            for(var i=0; i < change.length; i++){
                change[i].setAttribute("contenteditable", true);
            }
        }
        function Add_Music(){
            var tag =  document.createElement("input");
            var add = document.querySelectorAll("[id=new]")
            for(var i=0; i < add.length; i++){
                add[i].appendChild(tag)
            }
            // document.getElementById("new_password").appendChild(tag)
        }
        function Go(){
            window.location.href = '/admin_user'
        }
    </script>
</body>
</html>